:root{
    --background-color:black;
    --bs-gray-600: #6c757d;
   
}
/* .container-fluid{
   
} */
.navbar{
    height: 40px;
    background-color: var(--background-color);
    position:sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 999;
}
.nav2{
   
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    justify-items: center;
}
.nav3{
    
    height: 180px;
    display: grid;
  place-items:center;
    
}
.nav4{
    
    padding: 1rem;
}
.img1{
    position: relative;
  
  
   width: auto; 
   color: white;
}
.class1{
    position: absolute;
    top: 42%;
    left: 16px;

}
.bt5{
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    color: black;
    opacity: 0.7;
    background-color:var(--bs-gray-300) !important;
    border: 1px solid transparent;
    padding:12px 24px!important;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
  margin-bottom: 16px;

    
}

.bt5:hover{
    color:black;
  background-color:var(--bs-white) !important;
}
@media screen and (max-width:414px){
    .class1 > h1, .navbar{
        display: none;
    }
    /* img{
     
    } */
  
}
.main{
    padding: 0rem 2rem 0rem 2rem;
    
    
}
.main1{
    background-color:var(--bs-gray-400);
    padding: 1rem 1rem 1rem 1rem;
    margin-block: 10px;
    
}
.sidebar{
   
 
    padding: 1.5rem;
}
.center{
    text-align: center;
}


.img3{
    background-image: url('./avatar_smoke.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.button{
    color: white;
    border: 1px solid transparent;
}
.button:hover{
    background-color:var(--bs-gray-400);
    color: black;

}
ul{list-style-type:none;
    padding:0;
    margin:0
}
li:hover{
    background-color:var(--bs-gray-500);
}
li > span {
margin-left: 20px;
}
.bg-lit{
    background-color: var(--bs-gray-200);
    
}
.h{
    height: 200px;

}

.img7{
   
    filter: grayscale(75%);
    
} 
.main3{
    background-color:var(--bs-gray-400);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-block: 10px;
    
    
}
.buton2{
    color: black;
}
.buton2:hover{
color: var(--bs-gray-600);

}

.buton3{
    display: inline-block;
    line-height: 1.5;
    color: white;
    background-color: red;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    
}

.buton3:hover{
    color:black;
  background-color: var(--bs-gray-400);
}
.buton4{
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    color: white;
    background-color: black;
    border: 1px solid transparent;
    padding:12px 24px!important;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
  margin-bottom: 16px;

    
}

.buton4:hover{
    color:black;
  background-color: var(--bs-gray-400);
}
.dark-grey{
    color:#fff!important;
    background-color:var(--bs-gray-dark) !important
  }
/* .seco{
   
    padding-top: 5rem;
    padding-left: 7rem;
} */
/* @media screen and (max-width:600px){
    .seco{
   
        padding-top: 5rem;
        padding-left: 13rem;
    }
}
@media screen and (max-width:414.5px){
    .seco{
   
        padding-top: 5rem;
        padding-left: 5rem;
    }
} */
